.gpopup-container {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    overflow-y: auto;
    text-align: center;
}
.gpopup-backdrop {
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    z-index: 101;
}
.gpopup-container .gpopup {
    min-width: 270px;
    min-height: 50px;
    background: #FFF;
    border-radius: 4px;
    overflow: hidden;
    max-width: 90%;
    display: inline-block;
    text-align: left;
    z-index: 103;
    position: relative;
    top: 25%;
}

.gpopup-container .gpopup .header {
    position: relative;
    background: #F0F0F0;
    font-size: 16px;
    color: #555;
    padding: 10px;
}

.gpopup-container .gpopup .gpopup-content {
    position: relative;
    padding: 15px;
}

.gpopup-container .gpopup .close {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    display: inline-block;
    padding: 0 3px;
    color: #444;
}
.gpopup-container .backdrop-footer {
    text-align: right;
    padding: 10px;
    border-top: 1px solid #E9E9E9;
}
button.gpopup-btn {
    border: 1px solid #DDD;
    background: #F0F0F0;
    padding: 5px 15px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    margin-left: 8px;
}
button.gpopup-btn:first-child {
    margin-left: 0;
}
button.gpopup-btn:hover {
    background: #F5F5F5;
}
button.gpopup-btn:active {
    background: #F9F9F9;
}
.gpopup-container.noclose .gpopup .close {
    display: none;
}
.gpopup-container .gpopup .gpopup-content input.gpopup-input {
    width: calc(100% - 12px);
    padding: 10px 5px;
    border: 1px solid #E9E9E9;
    border-left: none;
    border-right: none;
    outline: none;
}
